*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    color: black;
    opacity: 86%;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor: pointer;
    text-transform: uppercase;
}

nav li{
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
}

a,button{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color:black;
    cursor: pointer;
}

button{
  border-color: black;
  color: black;  
  padding: 7px 10px;
  font-size: x-large;
  border-radius: 15px;
}

.globe{
    margin-left: 50%;
    margin-top: 10px;
    height: 50px;
    width: 50px;
}

.star{
    margin-left: 80%;
}

.squares{
    margin-top: 50px;
    height: 50px;
    width: 50px;
    margin-left: 140px;
}

.left-content{
    position: relative;
}

.red img{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 20%;
}

.green img{
    width: 400px;
    height: 400px;
    position: absolute;
    top:20px;
    left: 20px;
    margin-bottom: 30%;
}

.right-content h1{
    text-align: right;
    margin-right: 250px;
    margin-top: 40px;
    font-weight: 600;
    font-size: xx-large;
}

.content p{
  justify-content: center;
  text-align: center;
  margin-left: 400px;
  margin-top:40px;
  font-weight: 600;
}

.btn1 {
    margin-left: 50%;
    margin-top: 40px;
}

.contact-heading{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    position: relative;
    margin-left: 30%;
}

.icons{
    margin-left: 57%;
}

.icons img{
    width: 45px;
    padding: 10px 10px;
}

